* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

/* End of Search bar */
header {
    background-color: #ffffff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
}

main {
    padding: 20px;
}

/* Search bar */
#search-container {
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
#search-input {
    padding: 12px;
    width: 350px; /* Adjust the width as needed */
    font-size: 16px;
    border: 1px solid #008080; /* Choose a suitable border color */
    border-radius: 5px;
}
#search-button {
    background-color: #F0FFFF;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    border: 1px solid #008080;
    border-radius: 5px;
}

.main-categories-container {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.category {
    width: 150px;
    padding: 15px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.category p {
    margin: 0;
    font-size: 16px;
}

button.category-button {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #008080; /* Your button background color */
            color: #fff; /* Your button text color */
            border: none;
            padding: 10px;
            cursor: pointer;
            border-radius: 5px;
            margin: 5px; /* Add margin between buttons */
            transition: background-color 0.3s;
            text-decoration: none; /* Remove underlines from links */
        }

        button.category-button img {
            width: 20px; /* Adjust the image width */
            margin-right: 5px; /* Add some space between the image and text */
        }

        button.category-button:hover {
            background-color: #006666; /* Change the color on hover */
        }

