:host {
    width: 100vw;
    height: 100px;
    background-color: #101010;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);;
}

.inner {
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.logo {
    display: table;
    height: 100%;
    float: left;
}

.logo div {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.logo img{
    height: 50px;
    margin-top: 5px;
    width: 100%;
}

.logo a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    margin-top: 20px;
    /* Add any additional styling you want for the logo button */
}

nav {
    float: right;
    height: 100%;
}

nav li {
    display: table;
    height: 100%;
    float: left;
    margin-right: 30px;
}

nav li:last-of-type {
    margin-right: 0;
}

nav span {
    display: table-cell;
    vertical-align: middle;
}

nav a {
    color: #101010;
}

nav .button1 {
    background-color: #0c7c9c;
    color: #FFF;
    padding: 10px 20px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav .button1:hover {
    filter: brightness(1.05);
}

nav .button2 {
    background-color: #1ab26b;
    color: #FFF;
    padding: 10px 20px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav .button2:hover {
    filter: brightness(1.05);
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    float: right;
    margin-top: 30px;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
}


@media (max-width: 768px) {
    .inner {
        flex-direction: column;
    }

    .menu-toggle {
        display: flex;
    }

    nav {
        background: black;
        display: none; /* Hide navigation by default on small screens */
        width: 20;
        height: 5;
        position: absolute;
        top: 100px; /* Adjust as needed */
        left: auto;
        right: 0;
        /*background-color: #101010;*/
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        margin-top: 20px; /* Adjust the margin as needed */
    }

    nav.show {
        display: flex;
    }

    nav li {
        margin-right: 0;
        margin-bottom: 10px; /* Adjust the margin as needed */
    }
}