*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}


body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background: linear-gradient(to right, #7fe589, #0a7e99);
    margin: 0; /* Remove default body margin */
    padding: 0; /* Remove default body padding */
    min-height: 100vh; /* Make sure the body covers the entire viewport height */
    display: flex;
    flex-direction: column;
}